*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html, body{
    height: 100%;
}

@font-face{
    src: url('../fonts/OpenSans-Light.ttf');
    font-family: "Open Sans";
}

.center{
    width: 1280px;
    margin:0 auto;
}

.header{
    width: 100%;
    height: 60px;
    background-color: #212343;
}

.header img{
    margin: 15px;
}

.container-banner{
    width: 100%;
    height: 457px;
    background-image: url('../images/header_bg.png');
    background-size: cover;
    background-position: center;
 }

.container-banner > .center{
    height: 100%;
}

 .form{
     padding: 10px;
     width: 370px;
     height: calc(100% + 30px);
     float: right;
     position: relative;
     top: -15px;
     background-color: white;
     border: 8px solid #ccc;
 }

 .form h2{
     font-weight: normal;
     color: #999999;
     font-size: 19px;
 }

 .input-container{
     margin-top: 20px;
 }

 .input-container span,.form p{
     display: inline-block;
     width: 100%;
     color: #BBBBBB;
     font-size: 17px;
 }

.form p{
    margin: 20px 0;
}

 .input-container input[type=text]{
     margin-top: 8px;
    width: 324px;
    height: 45px;
    border: 1px solid #ccc;
 }

.form .input-submit-container{
    text-align: center;
  }

 .form input[type=submit]{
     color: white;
     font-size: 25px;
     width: 260px;
     height: 46px;
     background-color: #363A6D;
 }